extends ../layout

append head
    link(rel='stylesheet', href='/static/css-core/bootstrap.css')
    link(rel='stylesheet', href='/static/css-core/font-awesome.css')
    link(rel='stylesheet', href='/static/css/custom.log.css')

append body
    div(ng-app="logApp", ng-controller="AllLogController", style="margin: 20px;")
        - if(messages.project)
            h1 CoZpace Logger (Project : #{messages.project.name})
        - else
            h1 CoZpace Logger (All Project)
        hr
        div.row-fluid
            div.span2
                div.widget
                    div.widget-header
                        i.icon-cogs
                        h3 Projects
                    div.widget-content
                        button(ng-click="save_project_type_setting()").btn.btn-primary Save
                        hr
                        div(ng-repeat="project in projects")
                            a(href="/log/project/{{ project._id }}", target="_blank", class="") {{ project.name }}
                            div(id="toggle_snapboard_container")
                                strong Snapshot
                                a(id="toggle_snapboard_on", class="btn", ng-click="enable_snapshot(project)", ng-class="{'active': project.enable_snapboard}") ON
                                a(id="toggle_snapboard_off", class="btn", ng-click="disable_snapshot(project)", ng-class="{'active': !project.enable_snapboard}") OFF
                            div
                                form(class="form-inline", style="margin-top: 10px;")
                                    label.checkbox(style="margin-left: 5px;")
                                        input(type="radio", value="SYNC", name="project_type", ng-model="project.type")
                                        span SYNC
                                    label.checkbox(style="margin-left: 10px;")
                                        input(type="radio", value="ASYNC", name="project_type", ng-model="project.type")
                                        span ASYNC
                                    label.checkbox(style="margin-left: 10px;")
                                        input(type="radio", value="INDIVIDUAL", name="project_type", ng-model="project.type")
                                        span INDI
            div.span10
                div.row-fluid
                    div.span8
                        div.widget
                            div.widget-header
                                i.icon-lock
                                h3 Log Streaming..
                            div.widget-content
                                tabset
                                    tab(heading="All")
                                        div(slimscroll="{height: '200px', alwaysVisible: true}")
                                            ul.unstyled.log_layout
                                                li(ng-repeat="log in logs.all")
                                                    div.log_wrap
                                                        div.text
                                                            strong {{ log.member.firstname }} {{ log.member.lastname }}
                                                            span : {{ log.message }}
                                                            br
                                                            span Project [{{ log.project.name }}]
                                                            span.time
                                                                i.icon-time
                                                                span {{ log.created }}
                                    tab(heading="Project")
                                        div(slimscroll="{height: '200px', alwaysVisible: true}")
                                            ul.unstyled.log_layout
                                                li(ng-repeat="log in logs.project")
                                                    div.log_wrap
                                                        div.text
                                                            strong {{ log.member.firstname }} {{ log.member.lastname }}
                                                            span : {{ log.message }}
                                                            br
                                                            span Project [{{ log.project.name }}]
                                                            span.time
                                                                i.icon-time
                                                                span {{ log.created }}
                                    tab(heading="Snapshot")
                                        div(slimscroll="{height: '200px', alwaysVisible: true}")
                                            ul.unstyled.log_layout
                                                li(ng-repeat="log in logs.snapshot")
                                                    div.log_wrap
                                                        div.text
                                                            strong {{ log.member.firstname }} {{ log.member.lastname }}
                                                            span : {{ log.message }}
                                                            br
                                                            span Project [{{ log.project.name }}]
                                                            span.time
                                                                i.icon-time
                                                                span {{ log.created }}
                                    tab(heading="Seen")
                                        div(slimscroll="{height: '200px', alwaysVisible: true}")
                                            ul.unstyled.log_layout
                                                li(ng-repeat="log in logs.seen")
                                                    div.log_wrap
                                                        div.text
                                                            strong {{ log.member.firstname }} {{ log.member.lastname }}
                                                            span : {{ log.message }}
                                                            br
                                                            span Project [{{ log.project.name }}]
                                                            span.time
                                                                i.icon-time
                                                                span {{ log.created }}
                                    tab(heading="Query")
                                        div(slimscroll="{height: '200px', alwaysVisible: true}")
                                            ul.unstyled.log_layout
                                                li(ng-repeat="log in logs.query")
                                                    div.log_wrap
                                                        div.text
                                                            strong {{ log.member.firstname }} {{ log.member.lastname }}
                                                            span : {{ log.message }}
                                                            br
                                                            span Project [{{ log.project.name }}]
                                                            span.time
                                                                i.icon-time
                                                                span {{ log.created }}
                                    tab(heading="Chat")
                                        div(slimscroll="{height: '200px', alwaysVisible: true}")
                                            ul.unstyled.log_layout
                                                li(ng-repeat="log in logs.chat")
                                                    div.log_wrap
                                                        div.text
                                                            strong {{ log.member.firstname }} {{ log.member.lastname }}
                                                            span : {{ log.message }}
                                                            br
                                                            span Project [{{ log.project.name }}]
                                                            span.time
                                                                i.icon-time
                                                                span {{ log.created }}
                                    tab(heading="Relevant")
                                        div(slimscroll="{height: '200px', alwaysVisible: true}")
                                            ul.unstyled.log_layout
                                                li(ng-repeat="log in logs.relevant")
                                                    div.log_wrap
                                                        div.text
                                                            strong {{ log.member.firstname }} {{ log.member.lastname }}
                                                            span : {{ log.message }}
                                                            br
                                                            span Project [{{ log.project.name }}]
                                                            span.time
                                                                i.icon-time
                                                                span {{ log.created }}

                    div.span4
                        div.widget
                            div.widget-header
                                i.icon-lock
                                h3 Transtion Streaming
                            div.widget-content
                                div(slimscroll="{height: '258px', alwaysVisible: true}")
                                    ul.unstyled.log_layout
                                        li(ng-repeat="transition in transition_streaming")
                                            div.transition_wrap
                                                div.text
                                                    strong [<a>@{{ transition.project.name }}</a>]
                                                    a @{{ transition.member.firstname }}
                                                    span  : {{ transition.from }} -> {{ transition.to }}
            div.row-fluid
                div.span12
                    div.widget
                        div.widget-header
                            i.icon-lock
                            h3 Graph
                        div.widget-content
                            highchart#chart1(config="chartConfig")
                            highchart#chart2(config="chartConfigPercent")
            div.row-fluid
                div.span12
                    div.widget
                        div.widget-header
                            i.icon-lock
                            h3 Transition Summary (All project)
                        div.widget-content
                            - if(messages.project)
                                div(ng-repeat="(index, value) in transition_summary_keys")
                                    h5 {{ value[0] }}
                                    table.table.table-bordered
                                        thead
                                            tr
                                                td(style="width: 100px; text-align: center", ng-repeat="(i, v) in value[1]") {{ v[0] }}
                                        tbody
                                            tr
                                                td(style="width: 100px; text-align: center", ng-repeat="(i, v) in value[1]") {{ v[1] }}
                            - else
                                tabset
                                    tab(heading="SYNC")
                                        div(ng-repeat="(index, value) in transition_summary_keys['SYNC']")
                                            h5 {{ value[0] }}
                                            table.table.table-bordered
                                                thead
                                                    tr
                                                        td(style="width: 100px; text-align: center", ng-repeat="(i, v) in value[1]") {{ v[0] }}
                                                tbody
                                                    tr
                                                        td(style="width: 100px; text-align: center", ng-repeat="(i, v) in value[1]") {{ v[1] }}
                                    tab(heading="ASYNC")
                                        div(ng-repeat="(index, value) in transition_summary_keys['ASYNC']")
                                            h5 {{ value[0] }}
                                            table.table.table-bordered
                                                thead
                                                    tr
                                                        td(style="width: 100px; text-align: center", ng-repeat="(i, v) in value[1]") {{ v[0] }}
                                                tbody
                                                    tr
                                                        td(style="width: 100px; text-align: center", ng-repeat="(i, v) in value[1]") {{ v[1] }}
                                    tab(heading="INDIVIDUAL")
                                        div(ng-repeat="(index, value) in transition_summary_keys['INDIVIDUAL']")
                                            h5 {{ value[0] }}
                                            table.table.table-bordered
                                                thead
                                                    tr
                                                        td(style="width: 100px; text-align: center", ng-repeat="(i, v) in value[1]") {{ v[0] }}
                                                tbody
                                                    tr
                                                        td(style="width: 100px; text-align: center", ng-repeat="(i, v) in value[1]") {{ v[1] }}

    - if(messages.project)
        script window.project_id = '#{messages.project._id}';
        script window.project_type = '#{messages.project.type}';
    script(type='text/javascript', src="/static/js-core/underscore.js")
    script(type='text/javascript', src="/static/js-core/highcharts.js")
    script(type='text/javascript', src="/static/js-core/moment.min.js")
    script(type='text/javascript', src="/static/js-core/jquery.slimscroll.min.js")
    script(type='text/javascript', src='/static/js-core/angular.min.js')
    script(type='text/javascript', src='/static/js-core/angular.slimscroll.js')
    script(type='text/javascript', src='/static/js-core/ui-bootstrap-tpls-0.11.0.min.js')
    script(type='text/javascript', src='/static/js-core/angular-highchart.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src="/static/js/custom.log.js")