extends ../layout

append head
    link(rel='stylesheet', href='/static/css/custom.main.css')

append body
    #coverpage
    #loadpage
        | Loading...

    #wrapper
        //- Header
        header#header


            //- Header Project list 
            #header-dashboard-container.pull-left.hide
                #logo2
                    img#logo-sign-out-project-btn(src="/static/img/CoZpace-Top-logo.png")
                #project_panel
                    #project-btn-group
                        #current-btn.btn.project-btn-group
                            span.title-text Current
                        #completed-btn.btn.project-btn-group
                            span.title-text Completed
                        #invite-btn.btn.project-btn-group
                            span.title-text
                                | Invite 
                                span#invite-noti.hide.badge.badge-important 99+
                    #newproject-btn-group
                        #create-newproject-btn.btn.btn-success.project-btn-group
                            span.title-text Create new project
            //- End: Header Project list


            //- Header search section 
            #header-search-container.pull-left.hide
                #logo1
                    img(src="/static/img/CoZpace-Top-logo.png")
                #search_panel
                    form#search_form.clearfix.pull-left(action='', method='post', accept-charset='utf-8')
                        /////////
                        #search-btn-group
                            #browser-result-btn.btn.search-btn-group
                                .title
                                    span.title-text Browser

                            #relevant-result-btn.btn.search-btn-group
                                .title
                                    span.title-text Relevance

                            #snapboard-btn.btn.search-btn-group
                                .title
                                    span.title-text Snapboard

                            #keyword-btn.btn.search-btn-group
                                .title
                                    span.title-text Queries

                            #activity-btn.btn.search-btn-group
                                .title
                                    span.title-text Activity

                            #seen-btn.btn.search-btn-group
                                .title
                                    span.title-text Views
                        //////////
                        #search-action-group
                            input#search.submit-not-disable(type='text', name='search', placeholder='Search')
                            span#search-submit.btn

                    #search-component_panel
                        #search-component-comment-noti.btn-group.result-component.hide.pull-left
                            a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
                                strong
                                    i.icon-comments
                                    span#search-component-comment-number
                                        |  0
                            .dropdown-menu
                                .wrap
                                    ul
                                        li.comment-form
                                            form#search-component-comment-form
                                                textarea#search-component-comment-input(type="text", name="search-component-comment-input", placeholder="Comment here!", autocomplete="off", class="submit-not-disable")
                                                br
                                                button.btn.btn-success Submit
                                        li.no-comment No comment.

                        #search-component-relevant-noti.btn-group.result-component.hide.pull-left
                            a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
                                strong
                                    i.icon-thumbs-up
                                    i.icon-thumbs-down
                                    span#search-component-relevant-number
                                        |  0
                            .dropdown-menu
                                .wrap
                                    .search-result-action.btn-group
                                        #search-component-result-relevant.btn.search-result-relevant
                                            i.icon-thumbs-up
                                        #search-component-result-irrelevant.btn.search-result-irrelevant
                                            i.icon-thumbs-down
                                    br
                                    | Relevant
                                    strong#search-component-relevant-do
                                    |  form
                                    strong#search-component-relevant-total
                                    |  project user(s)
                                    #search-component-relevant-bar.progress
                                        .bar.bar-success
                                        .bar.bar-warning
                                        .bar.bar-danger
                                        .bar.bar-info

                                    span.label.label-success
                                    br
                                    span.label.label-important
                                    br
                                    span.label.label-warning
                                    br
                                    span.label.label-info
                                    br
                        #search-component-seen-noti.btn-group.result-component.hide.pull-left
                            a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
                                strong
                                    i.icon-eye-open
                                    span#search-component-seen-number
                                        |  0
                            .dropdown-menu
                                .wrap
                                    ul
                                        li.no-seen No seen.

                        #search-component-snapboard-noti.btn-group.result-component.hide.pull-left
                            a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
                                strong
                                    i.icon-picture
                                    span#search-component-snapboard-number
                                        |  0
                            .dropdown-menu
                                .wrap#overflow_snapshot
                                     ul
                                        li
                                            a#web-snapshot-btn.btn(data-toggle="modal", href="#snapboard", role="dialog", class="btn btn-success") Snapshot
                                        li.no-snapshot#snapshotAvaiable No Snapshot.

                 #search-component-keyword-noti.btn-group.keyword-component.hide.pull-left
                        a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
                            | Query used by:
                            strong
                                span#search-component-keyword-number
                                    |  0 person
                        .dropdown-menu
                            .wrap
                                ul
                                    li.not-used Has not been used.

            //- End: Header search section

            //- Header menu container 
            #header-menu-container.pull-left
                #header-menu
                    //- Project container 
                    #project-container.hide.dropdown
                        #project-btn.dropdown-toggle(data-toggle='dropdown')
                            #project-title
                            span.icon-user-dropdown.icon-caret-down
                        ul#project-menu.dropdown-menu
                            li.user-manager-group
                                a#user-manager-btn(href='#')
                                    i.icon-project-menu.icon-group
                                    |  User management
                            li.divider.user-manager-group
                            li.disabled
                                a(tabindex="-1", href="#")
                                    | Activity
                            //li
                            //    a#user-activity-btn(href='#')
                            //        i.icon-project-menu.icon-tasks
                            //        |  User Activity
                            li
                                a#all-activity-btn(href='#')
                                    i.icon-project-menu.icon-list
                                    |  All Activity
                            li.divider
                             li
                                a#completed-project-btn(href='#')
                                    i.icon-project-menu.icon-ok-sign
                                    |  Mark as completed project
                            li
                                a#sign-out-project-btn(href='#')
                                    i.icon-project-menu.icon-signout
                                    |  Sign out project
                    //- End: Project container container 
                    #project-separator.hide.separator
                    //- User menu container 
                    #user-menu-container.hide.dropdown
                        #user-btn.dropdown-toggle(data-toggle='dropdown')
                            span#user-title.hide #{member.username}
                            span.icon-user-dropdown.icon-caret-down
                        ul#user-menu.dropdown-menu
                            li#user-menu-title.hide
                                | Login as...
                                br
                                span#user-menu-name #{member.username}
                            //li
                            //    a#edit-profile-btn(href='#')
                            //        i.icon-user-menu.icon-edit
                            //        | Edit
                            //li.divider
                            li
                                a(href='/logout')
                                    i.icon-user-menu.icon-off
                                    | Logout
                    //- End: User menu container 
                   
                    
                    
            //- End: Header menu container
            //- Project list section 
        //- End: header

        //- main dashboard
        section#main-dashboard-container.hide
            //- Poroject list
            #project-list
                //- Project list item 
                #project-list-container
                    #project-list-title Loading...
                    #project-list-content.project-list-content
                        #project-list-item-empty.hide
                            #project-list-item-empty-title
                        #project-list-seemore.hide See More
                        #project-list-loader.hide
                //- End: Project list item

                //- Project list review 
                #project-review-container
                    #project-review-info
                        .project-review-title-container
                            #project-review-title Review
                            #project-review-action.hide.project-action
                                #project-review-work-on.project-review-title-btn
                                    span.icon.icon-signin
                                #project-review-user-management.project-review-title-btn
                                    span.icon.icon-user
                            #project-confirmation-action.hide.project-action
                                #project-confirmation-accept.project-review-title-btn
                                    span.icon.icon-ok
                                #project-confirmation-reject.project-review-title-btn
                                    span.icon.icon-remove
                    #project-review-content.hide.project-action
                        .square
                            #pjr-user.first
                                | -
                            .seccond
                                | user(s)
                        .wide
                            #pjr-time.first
                                | -
                            .seccond
                                | project age.
                    #project-review-select
                        | Select project to review.
                //- End: Project list review
            //- End: Poroject list
        //- End: Project list section

        //- Search section 
        section#main-search-container.hide
            //- Search bar
            section#search-bar.hide
                    #search-result-tab
                        ul#search-result-tabmenu.nav.nav-tabs
                            li
                                a#search-result-tabmenu-allresult.search-result-tabmenu-link(href="#") All result
                            li#no-open-tab.disabled
                               // a(tabindex='-1', href='#')


            //- End: Search bar
            //- Main Search section 
            section#main
                #search-panel
                    
                    #search-notfound.hide
                    #search-result.hide

                #relevant-result-panel.hide
                    #relevant-result.hide

                        #relevant-result-relevant
                            h1
                                | | Relevant
                        #relevant-result-irrelevant
                            h1
                                                              || Irrelevant
                        #relevant-result-notsure
                            h1                                | Not sure
                            br
                            center
                            button(class="btn_expdf", id='relevant-result-exporttopdf').s Export to PDF


                    #relevant-empty.hide Search and mark relevant ,if it is important!
                #seen-panel.hide
                    #seen-result.hide
                    #seen-empty.hide Team saw these results!
                 #activity-timeline-panel.hide
                    #activity-timeline-result.hide
                    #activity-timeline-empty.hide Team's activities are shown here
                #keyword-panel.hide
                    #keyword-result.hide
                    #keyword-empty.hide Where are the keywords that were used?
                #snapboard-panel.hide
                    #snapboard-result.hide
                    #snapboard-empty.hide Where are the snapboard?
            //- End: Main Search section
            //- Time bar
            section#sidebar-time You were in this project:
                br 
                span#sidebar-showtime 
            //- End: Time bar
            //- Sidebar in Search section 
            section#sidebar
                #sidebar-panel
                    #sidebar-panel-activity
                        #activity-loader.hide
                        #activity-seemore.hide See More
                        #activity-empty.hide Team's activities are shown here
                    #sidebar-panel-useractivity.hide
                        | User
                #sidebar-chat
                    #chat-show
                        #chat-loader
                        #chat-empty.hide Talk about this search...
                    form#chat_form(action='', method='post', accept-charset='utf-8')
                        input#chat-message.submit-not-disable(type='text', name='chat-message', placeholder='Message here!', autocomplete='off')
            //- End: Sidebar in Search section 

            //- Search tab section 
            //- End: Search section
        //- End: Search section 

        //- New project window 
        #new-project-container.window.modal.hide.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .window-header
                .window-header-inner
                    .window-header-inner-left
                        span.window-header-title Create a new project.
                    .window-header-inner-right
                        #create-newproject-close-btn.window-close-btn
                            span.icon.icon-remove
            .window-body
                form#create-project-form(action='', method='post', accept-charset='utf-8')
                    .alert.alert-info Other information can be added after created.
                    input#project-name.submit-not-disable(type='text', name='project-name', placeholder='Project name', autocomplete='off')
                    #create-newproject-status
                        #create-newproject-loader
                            | Creating...
                        #create-newproject-status-text.hide
            .window-footer
                .window-footer-inner
                    .window-footer-inner-right
                        #create-newproject-submit-btn.btn.btn-primary Create project
                        #create-newproject-done-btn.btn.btn-primary.hide Done
        //- End: New project window 

        //- User Management window 
        #user-management-container.window.modal.hide.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .window-header
                .window-header-inner
                    .window-header-inner-left
                        span.window-header-title User management.
                    .window-header-inner-right
                        #user-management-close-btn.window-close-btn
                            span.icon.icon-remove
            .window-body
                #user-management-pane-left
                    .pane.pane-top
                        .user-management-pane-header Search user
                        input#search-user.submit-not-disable(type='text', name='search-user', placeholder='Email or Name', autocomplete='off')

                    .pane.pane-bottom
                        .user-management-pane-header Invite user
                        #user-management-invite-userlist
                #user-management-pane-right
                    .pane.pane-all
                        .user-management-pane-header Project user
                        #user-management-project-userlist
            .window-footer
                .window-footer-inner
                    .window-footer-inner-right
                        #user-management-done-btn.btn.btn-primary Done
        //- End: New project window

        //- Snapboard window Snapshot crop board
        #web-snapshot-container.window-snap.modal.hide.fade(tabindex='10', role='dialog', aria-hidden='true')
            .window-snap-header
                .window-snap-header-inner
                    .window-snap-header-inner-left
                        span.window-snap-header-title Create Snapshot.
                    .window-snap-header-inner-right
                        #web-snapshot-close-btn.window-close-btn
                            span.icon.icon-remove

            .window-snap-body-head
                .window-snap-body.text-center
                    img.snap#snapshot-image(src="/static/img/loader-2.gif")
                .window-snap-body-suggest
                    .text-center
                        h3 Suggest image :
                    .window-snap-body-suggest-box
                        img.snap#suggest-image1(src="/static/img/loader-2.gif")
                    .window-snap-body-suggest-box
                        img.snap#suggest-image2(src="/static/img/loader-2.gif")
                    .window-snap-body-suggest-box
                        img.snap#suggest-image3(src="/static/img/loader-2.gif")
                    .window-snap-body-suggest-box
                        img.snap#suggest-image4(src="/static/img/loader-2.gif")
                    .window-snap-body-suggest-box
                        img.snap#suggest-image5(src="/static/img/loader-2.gif")
                    //span.suggest-img Suggest image :

                
            .window-snap-footer
                .window-snap-footer-inner
                    .window-snap-footer-inner-right
                        #web-snapshot-done-btn.btn.btn-primary Done
        //- End: New project window

        //- User Management window
        #completed-project-container.window.modal.hide.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .window-header
                .window-header-inner
                    .window-header-inner-left
                        span.window-header-title Do you want to complete this project ?.
                    .window-header-inner-right
                        .completed-project-cancel-btn.window-close-btn
                            span.icon.icon-remove
            .window-footer
                .window-footer-inner
                    .window-footer-inner-center.text-center
                        #completed-project-yes-btn.btn.btn-primary.btn-large Yes
                        .completed-project-cancel-btn.btn.btn-default.btn-large(style="margin-left: 25px") No
        //- End: New project window
      
        //- Edit profile 
        #edit-profile-container.window.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .window-header
                .window-header-inner
                    .window-header-inner-left
                        span.window-header-title Edit profile.
                    .window-header-inner-right
                        #edit-profile-close-btn.window-close-btn
                            span.icon.icon-remove
            .window-body
                p One fine body…
            .window-footer
                .window-footer-inner
                    .window-footer-inner-right
                        #edit-profile-submit-btn.btn.btn-primary Save changes
                        #edit-profile-done-btn.btn.btn-primary.hide Done         
        //- End: Edit profile 
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/static/js/custom.dashboard.js')