extends ../layout

append head
    link(rel='stylesheet', href='/css/custom.snapboard.css')

append body
    #wrapper
        #loginbox
            h1 Snapboard
            hr

    script(src="./js/custom.snapboard.js")
