@charset 'UTF-8';

/*========================================================================================*/
/* Alert and Form */
/*========================================================================================*/
.alert {
	font-size: 18px;
}

.form-submit{
	text-align:center;
	margin-top:10px;
}

.form-submit button{
	font-size:18px;
	padding:6px 16px;
}

#wrapper{
	margin: 0 auto;
	min-width: 1024px;
}

/*========================================================================================*/
/* Datetime picker */
/*========================================================================================*/
.ui-timepicker-div .ui-widget-header{
	margin-bottom: 8px;
}
.ui-timepicker-div dl {
	text-align: left;
}
.ui-timepicker-div dl dt {
	height: 25px;
	margin-bottom: -25px;
}
.ui-timepicker-div dl dd {
	margin: 0 10px 10px 65px;
}
.ui-timepicker-div td {
	font-size: 90%;
}
.ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}
.ui-timepicker-rtl{
	direction: rtl;
}
.ui-timepicker-rtl dl {
	text-align: right;
}
.ui-timepicker-rtl dl dd {
	margin: 0 65px 10px 10px;
}


.snapshot_boxes .snapshot_box{
    padding: 3px;
    margin: 8px;
    border: 5px solid #CFA5A5;
    border-radius: 5px;
    display: inline-block;
    height: 100px;
    width: 100px;
}

.snapshot_boxes .snapshot_box:hover{
    box-shadow: 0 0 4px #3d3d3d;
}

.snapshot_boxes .snapshot_box img{
    height: 100%;
}

.color_blue{
    color: #0000FF;
}

.color_green{
    color: #009900;
}

.color_darkblue{
	color: #08088A;
}

.box_image{
    border: 1px solid #BDBDBD;
}