body {
  background: #f9f6f1; }

.widget {
  position: relative;
  clear: both;
  width: auto;
  margin-bottom: 2em;
  overflow: hidden; }
  .widget .widget-header {
    position: relative;
    height: 40px;
    line-height: 40px;
    background: #f9f6f1;
    background: -moz-linear-gradient(top, #f9f6f1 0%, #f2efea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f6f1), color-stop(100%, #f2efea));
    background: -webkit-linear-gradient(top, #f9f6f1 0%, #f2efea 100%);
    background: -o-linear-gradient(top, #f9f6f1 0%, #f2efea 100%);
    background: -ms-linear-gradient(top, #f9f6f1 0%, #f2efea 100%);
    background: linear-gradient(top, #f9f6f1 0%, #f2efea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f6f1', endColorstr='#f2efea');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f6f1', endColorstr='#f2efea')";
    border: 1px solid #d6d6d6;
    -webkit-background-clip: padding-box; }
    .widget .widget-header [class^="icon-"], .widget .widget-header [class*=" icon-"] {
      display: inline-block;
      margin-left: 13px;
      margin-right: -2px;
      font-size: 16px;
      color: #555;
      vertical-align: middle; }
    .widget .widget-header h3 {
      position: relative;
      top: 2px;
      left: 10px;
      display: inline-block;
      margin-right: 3em;
      font-size: 14px;
      font-weight: 800;
      color: #525252;
      line-height: 18px;
      text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); }
  .widget .widget-content {
    padding: 20px 15px 15px;
    background: #FFF;
    border: 1px solid #D5D5D5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  .widget .widget-header + .widget-content {
    border-top: none;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

ul.log_layout li .log_wrap {
  width: 90%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  border: 1px solid #e9e9e9;
  padding: 10px;
  margin-bottom: 20px;
  float: left;
  background: #fefefe;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0px; }
