
/* CSS Document */
body {
	background-image: url('../img/linedpaper.png');
	font-family: 'thaisans_neueregular';
	padding: 0px;
	margin: 0px;
}

#form_des{
	margin:30px 30px 0px 30px;

	border-radius: 5px;
	background-color: rgba(246,246,246,1);
	padding: 5px;

	text-align: center;
}

#regis_welcome{
	margin:30px 30px 0px 30px;

	border-radius: 5px;
	background-color: rgba(246,246,246,1);
	padding: 10px;

	font-size: 20px;
	line-height: 35px;

	text-align: center;
}

#loginbox, #regisbox {
	margin: 0 auto;
	width: 500px;
	background-color: rgba(255,255,255,0.9);
	padding: 25px 22px 10px 25px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px #999999;
}

#loginbox > div , #regisbox > div{
	text-align:center;			
}

#logo {
	color: #09F;
	font-size: 38px;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
}

#login_form , #regis_form{
	width: 300px;
	margin: 0 auto;
	padding-top: 30px;
}

#login_form input{
	width:100%;
	min-height: 40px;
	font-size: 16px;
}

#regis_form input{
	width:100%;
	min-height: 30px;
	font-size: 16px;
}

.alert{
	width:263px;
	text-align: center;
}

#site-login-btn{
	margin-right: 20px;
}
#ms-login-btn{
	margin-left: 20px;
}
#ms-login-btn img{
	width: 32px;
}