
/*========================================================================================*/
/* Body Style */
/*========================================================================================*/
body {
	background-image: url('../img/gray_jean3.png');
	font-family: 'thaisans_neueregular';
	padding: 0px;
	margin: 0px;
}

/*========================================================================================*/
/* Loader */
/*========================================================================================*/
#loadpage, .loader{
	background-image: url('../img/loader.gif');
	background-repeat: no-repeat;
	background-position: 50px 5px;
	background-size: 50%;

	margin: 0px auto auto 30%;
	background-color: rgba(255,255,255,1);
	width:250px;

	box-shadow: 0px 0px 3px #999999;
	text-align: center;

	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;

	top:0px;
	left:-125px;
	position: absolute;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.loader{
	position: fixed;
	font-size: 18px;

	padding: 5px;
	z-index: 51;

	top:100px;
	left: 0px;
}

#loadpage{
	font-size: 18px;

	height:20px;
	padding: 15px 10px 10px 10px;
	z-index: 10001;
}

#coverpage{
	background-color: rgba(0, 0, 0, 0.5);
	width:100%;
	height:100%;

	position: fixed;

	display: block;
	top:0;
	left:0;
	bottom:0;
	right:0;

	z-index: 10000;
}

/*========================================================================================*/
/* header */
/*========================================================================================*/
#header {
	margin: 0 auto 0px auto;
	width: auto;
	background-color: rgba(255,255,255,0.9);
	padding: 0px;

	-moz-box-shadow: 0px 1px 4px #000;
	-webkit-box-shadow: 0px 1px 4px #000;
	box-shadow: 0px 1px 4px #000;
	height: 50px;

	position: relative;

	z-index: 100;
}

/*========================================================================================*/
/* header menu */
/*========================================================================================*/
#header-menu-container {
	margin: 0 auto;
	width: auto;

	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
	box-shadow: 0px 0px 2px #999999;

	padding: 3px auto 2px auto;
	height: 50px;
	width:300px;
	position: absolute;
	right: 0px;
	z-index: 100;
}

#user-menu-title{
	font-size: 18px;

	margin: 0px 10px 10px 10px;
	padding: 10px;

	background-color: #f6f7f6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#user-menu-name{
	font-size: 20px;
	font-weight: bold;

	line-height: 20px;
}

#header-menu {
	margin: 5px auto;
	background-color: #FFF;

	width: 275px;
	height:auto;
}

#user-menu, #project-menu{
	width:274px;
	margin-left: -1px;
	margin-top: 40px;
	padding-top:20px;
	padding-bottom:20px;

	-webkit-box-shadow: 0px 2px 5px 2px rgba(153, 153, 153, 0.75);
	-moz-box-shadow: 0px 2px 5px 2px rgba(153, 153, 153, 0.75);
	box-shadow: 0px 2px 5px 2px rgba(153, 153, 153, 0.75);

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#user-title, #project-title{
	font-size: 17px;
	width: 150px;
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
	line-height: 30px;
	float: left;
	margin-top: -3px;
}

#user-btn{
	background-image: url('../img/user_bt.png');
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 30px 30px;

	/*width: 230px;*/
	height: 27px;
}

#project-btn{
	background-image: url('../img/project_bt.png');
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 30px 30px;

	/*width: 171px;*/
	height: 27px;
}

#user-btn, #project-btn{

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	float:left;
	padding: 10px 5px 2px 40px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	overflow: hidden;
}

#user-btn:hover, #project-btn:hover{
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;

	-webkit-box-shadow: 0px 0px 4px #999999;
	-moz-box-shadow: 0px 0px 4px #999999;
	box-shadow: 0px 0px 4px #999999;

	cursor: pointer;
}

.icon-user-menu, .icon-project-menu{
	font-size: 18px;
}

.icon-user-dropdown, .icon-proejct-dropdown{
	font-size: 16px;
	float: right;
}

.separator{
	width:1px;
	height:39px;
	margin:0px 3px 0px 3px;
	border-left: 2px dotted #999999;

	float:left;
}

/*========================================================================================*/
/* Project list */
/*========================================================================================*/
#project{
	margin: auto;
}

#project-list {
	width: 1024px;
	margin: 20px auto;
}

#project-list-container{
	float: left;

	width: 500px;
	min-height: 561px;
	height: 561px;
	margin: 2px;
	background-color: rgba(253, 254, 254, 1);
	border: 1px solid rgba(16, 40, 50, 0.2);
}

#project-list-content{
	height: 500px;
	width: 500px;
	position: relative;
}

#project-list-title{
	color: rgba(255, 255, 255, 1);
	font-size: 32px;
	font-family: 'thaisans_neuebold';
	line-height: 28px;
	text-shadow: 0px 1px 2px #555;

	height: 30px;
	margin: 0px;
	padding: 15px 10px 15px 20px;

	background-color: rgba(251, 251, 252, 0.7);
	background-image: url('../img/blackorchid.png');

	border-bottom: 1px solid rgba(16, 40, 50, 0.2);
}

.project-list-item{
	font-size: 22px!important;
	text-align: left!important;
	padding: 0 20px 0 20px;
}

.project-list-item-title{
	width: 420px;
	overflow: hidden;
	float: left;
	text-overflow: ellipsis;
	white-space:nowrap;

	line-height: 35px;
	margin-top: -4px;
}

#project-list-item-empty{
	margin: 0px auto;
	background-image: url('../img/blank_book.png');
	background-color: rgba(255,255,255,0.8);
	background-position:center 50px;
	background-repeat: no-repeat;

	width:500px;
	height:300px;
	text-align: center;

	padding: 10px 0px 0px 0px;

	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
	box-shadow: 0px 0px 2px #999999;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#project-list-item-empty-title{
	color: rgba(101,21,17,1);
	font-size: 32px;
	font-family: 'thaisans_neue_sembdregular';
	line-height: 30px;
	text-shadow: 0px 1px 1px rgba(15,3,3,1);

	margin:220px auto;
}

.project-list-item .icon{
	color: rgba(221, 221, 221, 1);

	float: right;
	font-size: 52px;
	margin-top: -15px;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.project-list-item:hover .icon, .project-list-item.active .icon{
	color: rgba(68, 68, 68, 1);

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

#project-list-seemore, #activity-seemore, #project-list-loader, .project-list-item{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

	border-top: 1px groove rgba(2, 23, 21, 0.1);
	border-bottom: 1px groove rgba(2, 23, 21, 0.1);
	height:40px;

	font-size: 18px;
	text-align: center;
	padding-top: 15px;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#project-list-seemore:hover, #activity-seemore:hover, .project-list-item:hover{
	border-top: 1px groove rgba(2, 23, 21, 0.4);
	border-bottom: 1px groove rgba(2, 23, 21, 0.4);

	cursor: pointer;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

#project-list-seemore:active, #activity-seemore:active, .project-list-item:active, .project-list-item.active{
	-moz-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#project-list-loader{
	background-image: url('../img/content_loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 30px 30px;
}



/*========================================================================================*/
/* Project list btn */
/*========================================================================================*/
#invite-noti{

}

#project-btn-group{
	float: left;
	margin:10px 20px 0 18px;
}

#newproject-btn-group{
	float: left;
	margin:10px 50px 0 10px;
}

#create-newproject-btn{
	width:160px;
}

#completed-btn{
	width: 95px;
}
#invite-btn{
	width: 90px;
}

.project-btn-group{
	float: left;
	height: 30px;
	width: 100px;

	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.project-btn-group:first-child{
	border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
}

.project-btn-group:last-child, #invite-btn{
	border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
}


.project-btn-group > .title-text{
	font-size: 18px;
	font-family: 'thaisans_neue_sembdregular';

	display: block;
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: inherit;
}

/*========================================================================================*/
/* Project review */
/*========================================================================================*/
.project-review-title-container{
	color: rgba(8,7,15,1);
	font-size: 28px;
	font-family: 'thaisans_neuebold';

	text-shadow: 0px 1px 2px #555;

	height: 60px;
	margin: 0px;

	background-color: rgba(251, 251, 252, 0.7);
	background-image: url('../img/subtle_grunge.png');

	border-bottom: 1px solid rgba(16, 40, 50, 0.2);
}

#project-review-title{
	float:left;
	line-height: 37px;
	margin: 11px 10px 15px 20px;

	width: 340px;
	height: 34px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space:nowrap;
}


.project-review-title-btn{
	float:right;
	line-height: 28px;
	width: 30px;
	height: 30px;
	margin: -1px -1px 0px 0px;
	padding: 15px 15px 15px 15px;

	background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,0.55) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,0.55))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,0.55) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,0.55) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,0.55) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,0.55) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#8c0e0e0e',GradientType=0 ); /* IE6-9 */
	text-align: center;

	color:rgba(255,255,255,1);

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.project-review-title-btn:hover{
	color: rgba(254,241,237,1)
	background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#8c0e0e0e',GradientType=0 ); /* IE6-9 */

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;

	cursor:pointer;
}

#project-review-select{
	margin: 0px auto;
	background-image: url('../img/review.png');
	background-position:center 50px;
	background-repeat: no-repeat;

	width:500px;
	height:300px;
	text-align: center;

	padding: 10px 0px 0px 0px;


	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	color: rgba(101,21,17,1);
	font-size: 18px;
	line-height: 30px;
	text-shadow: 0px 1px 1px rgba(15,3,3,1);
}

#project-review-container{
	float: right;

	width: 500px;
	min-height: 400px;
	margin: 2px;
	padding: 2px;

	background-color: rgba(248, 253, 253, 1);
	border: 1px solid rgba(3, 11, 18, 0.2);
}

#time-spent{
	background-color: rgba(255,255,255,0.7);
	height: 50px;
}

.square{
	background-color: rgba(0,0,0,0.8);
	width: 100px;
	height: 100px;

	float: left;
}
.square .first{
	font-size: 76px;
	text-shadow: 0px 1px 1px rgba(153,153,153,1);
	color: #FFF;
	line-height: 70px;
	text-align: center;
}
.square .seccond{
	font-style: 16px;
	color: #fffdee;
	text-align: center;
}

.wide{
	background-color: rgba(238,238,238,0.8);
	width: 400px;
	height: 100px;

	float: left;
}
.wide .first{
	font-size: 50px;
	text-shadow: 0px 1px 1px rgba(153,153,153,1);
	color: #000;
	line-height: 70px;
	text-align: center;
}
.wide .seccond{
	font-style: 16px;
	color: #222;
	text-align: center;
}
/*========================================================================================*/
/* created project */
/*========================================================================================*/
#create-project-form > #project-name{
	font-size: 20px;

	width: 565px;
	height: 35px;
}

#create-newproject-status{
	height: 0px;
	overflow: hidden;
}

#create-newproject-loader{
	background-image: url('../img/content_loader.gif');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 30px 30px;

	padding-top: 45px;

	text-align: center;
	margin: 5px;

	font-size: 18px;
	font-family: 'thaisans_neuebold';
	text-shadow: 0px 1px 2px #555;
}

#create-newproject-status-text{
	padding-top: 5px;

	text-align: center;
	margin: 5px;

	font-size: 18px;
	font-family: 'thaisans_neuebold';
	text-shadow: 0px 1px 2px #555;
}

/*========================================================================================*/
/* User management */
/*========================================================================================*/
.user-management-pane-header{
	border-radius: 5px 5px 0px 0px;

	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

	min-height: 30px;

	-moz-box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.1);

	text-align: center;

	font-size: 16px;
	padding-top: 6px;

	text-shadow: 0px 1px 2px #555;
}

#user-management-pane-left{
	float: left;
	width: 260px;
}

#user-management-pane-left .pane-top{
	height: 66px;
	margin-bottom: 10px;
}

#user-management-pane-left .pane-bottom{
	height: 324px;
}

.user-management-list{
	width: 218px!important;
}

#user-management-invite-userlist{
	height: 288px;
}
#user-management-project-userlist{
	width: 300px;
	height: 365px;
}

#user-management-pane-left #search-user{
	width: 246px;
	border-radius: 0px 0px 5px 5px;
}

#user-management-pane-right .pane-all{
	float: right;

	width: 300px;
	height: 400px;
}
#user-management-pane-left .pane, #user-management-pane-right .pane{
	border-radius: 5px;
	background-color: rgba(246,246,246,1);

	-webkit-box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.invite-loader, .project-loader{
	background-image: url('../img/content_loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 30px 30px;
	width:40px;
	height:40px;
}
.invite-remove, .project-remove, .project-makeadmin-no, .project-makeadmin-yes{
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;

	width:40px;
	height:30px;

	padding-top: 8px;
	border-radius: 5px;

	float: right;
}

.project-makeadmin-yes{
	background-color: rgba(45,132,74,0.5);
}

.invite-remove:hover, .project-remove:hover{
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;

	background-color: rgba(207,41,44,0.5);
	cursor: pointer;
}

.project-makeadmin-no:hover{
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;

	background-color: rgba(45,132,74,0.5);
	cursor: pointer;
}
.project-makeadmin-yes:hover{
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;

	background-color: rgba(207,41,44,0.5);
	cursor: pointer;
}

.invite-userlist-item, .project-userlist-item{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

	border-top: 1px groove rgba(2, 23, 21, 0.1);
	border-bottom: 1px groove rgba(2, 23, 21, 0.1);
	height:40px;

	font-size: 18px;
	text-align: center;
	padding: 5px 5px 3px 5px;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* invite */
.invite-userlist-action{
	float:right;
	width:40px;
	height:40px;
}
.invite-userlist-topic{
	float:left;
	width:200px;

	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
}
.invite-userlist-header{
	color: rgba(5,51,72,1);
	font-size: 16px;
	font-weight: bold;

	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
}
.invite-userlist-info{
	margin-top: 2px;
	color: rgba(15,164,231,1);
	font-size: 12px;

	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
}

/* project */
.project-userlist-action{
	float:right;
	width:90px;
	height:40px;
}
.project-userlist-topic{
	float:left;
	width:200px;
}
.project-userlist-header{
	color: rgba(5,51,72,1);
	font-size: 16px;
	font-weight: bold;

	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
	width: 200px;

	text-align: left;
}
.project-userlist-info{
	margin-top: 2px;
	color: rgba(15,164,231,1);
	font-size: 12px;

	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
}
.project-userlist-item{
	width: 290px;
}


/*========================================================================================*/
/* Window */
/*========================================================================================*/
.window{
	width: 600px;
	border-radius: 0px;

	-moz-box-shadow:  0px 0px 2px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:  0px 0px 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 0px 2px 3px rgba(0, 0, 0, 0.5);

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.window-close-btn{
    width: 40px;
    height: 40px;

    padding: 0px;
    margin: 0px;

    box-shadow: inset 1 0px 0 0 rgba(255,255,255,0.5);
    border: 1px solid #1F3D5C;

    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.7);

    background: rgb(69,72,77);
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );

    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    padding: auto;

    text-align: center;

    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.window-close-btn:hover{
    background: rgb(125,126,125);
    background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1)));
    background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
    background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
    background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}

.window-close-btn:active{
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
}


.window-close-btn .icon{
    color: rgba(255,255,255,1);
    text-shadow: 0px 1px 2px #555;
    font-size: 18px;

    line-height: 40px;
}

.window-header{
    width: 600px;
    height: 60px;

    padding: 0px;
    margin: 0px;

    -moz-box-shadow: inset 0 0px 0 0 rgba(255,255,255,0.5);
    -webkit-box-shadow: inset 0 0px 0 0 rgba(255,255,255,0.5);
    box-shadow: inset 0 0px 0 0 rgba(255,255,255,0.5);

    border-bottom: 1px solid #1F3D5C;

    background: -moz-linear-gradient(top, rgba(227,231,234,0.7) 0%, rgba(212,216,219,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,231,234,0.7)), color-stop(100%,rgba(212,216,219,0.9)));
    background: -webkit-linear-gradient(top, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
    background: -o-linear-gradient(top, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
    background: -ms-linear-gradient(top, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
    background: linear-gradient(to bottom, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
}

.window-header-inner{
    width: 580px;
    padding:0px;
    margin:auto;

    height: 60px;
}

.window-header-title{
	font-family: 'thaisans_neuebold';
	font-size: 28px;
	line-height: 55px;
	text-shadow: 0px 1px 2px #555;
}

.window-footer{
    width: 600px;
	min-height: 50px;

    padding: 0;
    margin: 0;

    -moz-box-shadow: inset 1 0px 0 0 rgba(255,255,255,0.5);
    -webkit-box-shadow: inset 1 0px 0 0 rgba(255,255,255,0.5);
    box-shadow: inset 1 0px 0 0 rgba(255,255,255,0.5);

    background: -moz-linear-gradient(top, rgba(227,231,234,0.7) 0%, rgba(212,216,219,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,231,234,0.7)), color-stop(100%,rgba(212,216,219,0.9)));
    background: -webkit-linear-gradient(top, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
    background: -o-linear-gradient(top, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
    background: -ms-linear-gradient(top, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
    background: linear-gradient(to bottom, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);

    border-top: 1px solid rgba(102,102,102,0.5);
}

.window-body{
    width: 580px;
    max-height: 400px;
    padding: 10px;

    overflow-x:hidden;
    overflow-y:auto;
}


.window-footer-inner{
    width: 580px;
    padding:10px;
    margin:auto;

    min-height: 30px;
}

.window-footer-inner-left, .window-header-inner-left{
    float: left;
    height: 60px;
}

.window-footer-inner-left{
    width:300px;
}

.window-footer-inner-right, .window-header-inner-right{
    float: right;
}

/*========================================================================================*/
/* window snapboard */
/*========================================================================================*/
.window-snap{
	width: 1352px;
	border-radius: 0px;
	left: 28%;

	-moz-box-shadow:  0px 0px 2px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:  0px 0px 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 0px 2px 3px rgba(0, 0, 0, 0.5);

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.window-snap-close-btn{
    width: 40px;
    height: 40px;

    padding: 0px;
    margin: 0px;

    box-shadow: inset 1 0px 0 0 rgba(255,255,255,0.5);
    border: 1px solid #1F3D5C;

    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.7);

    background: rgb(69,72,77);
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );

    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    padding: auto;

    text-align: center;

    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.window-snap-close-btn:hover{
    background: rgb(125,126,125);
    background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1)));
    background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
    background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
    background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}

.window-snap-close-btn:active{
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
}


.window-snap-close-btn .icon{
    color: rgba(255,255,255,1);
    text-shadow: 0px 1px 2px #555;
    font-size: 18px;

    line-height: 40px;
}

.window-snap-header{
    width: 1352px;
    height: 60px;

    padding: 0px;
    margin: 0px;

    -moz-box-shadow: inset 0 0px 0 0 rgba(255,255,255,0.5);
    -webkit-box-shadow: inset 0 0px 0 0 rgba(255,255,255,0.5);
    box-shadow: inset 0 0px 0 0 rgba(255,255,255,0.5);

    border-bottom: 1px solid #1F3D5C;

    background: -moz-linear-gradient(top, rgba(227,231,234,0.7) 0%, rgba(212,216,219,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,231,234,0.7)), color-stop(100%,rgba(212,216,219,0.9)));
    background: -webkit-linear-gradient(top, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
    background: -o-linear-gradient(top, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
    background: -ms-linear-gradient(top, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
    background: linear-gradient(to bottom, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
}

.window-snap-header-inner{
    width: 1332px;
    padding:0px;
    margin:auto;

    height: 60px;
}

.window-snap-header-title{
	font-family: 'thaisans_neuebold';
	font-size: 28px;
	line-height: 55px;
	text-shadow: 0px 1px 2px #555;
}

.window-snap-footer{
    width: 1352px;
    height: 50px;


    padding: 0px;
    margin: 0px;

    -moz-box-shadow: inset 1 0px 0 0 rgba(255,255,255,0.5);
    -webkit-box-shadow: inset 1 0px 0 0 rgba(255,255,255,0.5);
    box-shadow: inset 1 0px 0 0 rgba(255,255,255,0.5);

    background: -moz-linear-gradient(top, rgba(227,231,234,0.7) 0%, rgba(212,216,219,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,231,234,0.7)), color-stop(100%,rgba(212,216,219,0.9)));
    background: -webkit-linear-gradient(top, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
    background: -o-linear-gradient(top, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
    background: -ms-linear-gradient(top, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
    background: linear-gradient(to bottom, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);

    border-top: 1px solid rgba(102,102,102,0.5);
}

.window-snap-body-head{
	width: 1352px;
	max-height: 565px;
	/*padding: 5px;*/
	margin-left : 5px;
}

.window-snap-body{
    width: 1070px;
    max-height: 550px;
	display: inline-block;
	/*float: left;*/

    overflow-x:auto;
    overflow-y:auto;
}
.window-snap-body-suggest{
	 width: 280px;
	 height: 557px;
	 clear: inherit;
	 border: 2px solid #221919;
	 display: inline-block;
	 margin-left : -5px;
	overflow-x: hidden;
	overflow-y: auto;
	 background: -moz-linear-gradient(top, rgba(227,231,234,0.7) 0%, rgba(212,216,219,1) 100%);
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,231,234,0.7)), color-stop(100%,rgba(212,216,219,0.9)));
	background: -webkit-linear-gradient(top, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
	background: -o-linear-gradient(top, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
	background: -ms-linear-gradient(top, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);
	background: linear-gradient(to bottom, rgba(227,231,234,0.7) 0%,rgba(212,216,219,1) 100%);



 }
.window-snap-body-suggest-box{
	background: 50% 50% no-repeat; /* 50% 50% centers image in div */
	width: 200px;
	height: 150px;
	display: block;

	clear: inherit;
	border: 2px solid #ff211a;
	margin-left: 25px;
	margin-top: 5px;
	margin-bottom: 5px;

	background: white;
	transition: all;
	/*-webkit-transition: all 1s ease;*/
	/*-moz-transition: all 1s ease;*/
	/*-o-transition: all 1s ease;*/
	/*-ms-transition: all 1s ease;*/
	/*transition: all 1s ease;*/

}
.window-snap-body-suggest-box a{
	background: 50% 50% no-repeat; /* 50% 50% centers image in div */
	width: 200px;
	height: 150px;
}

.window-snap-body-suggest-box img{
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.window-snap-body-suggest-box:hover{

	/*clear: inherit;*/
	border: 2px solid #1618ff;
	/*height: auto;*/
	/*width: auto;*/
	margin-left: -50px;
	float: inherit;
	cursor: pointer;
	/*transform: scale(2.2);*/
	/*-webkit-transform: scale(2);*/
	/*-moz-transform: scale(2);*/
	/*-o-transform: scale(2);*/
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transform: scale(2);
}



.window-snap-footer-inner{
    width: 1332px;
    padding:10px;
    margin:auto;

    height: 30px;
}

.window-snap-footer-inner-left, .window-snap-header-inner-left{
    float: left;
    height: 60px;
}

.window-snap-footer-inner-left{
    width:300px;
}

.window-snap-footer-inner-right, .window-snap-header-inner-right{
    float: right;
}


/*========================================================================================*/
/* header search */
/*========================================================================================*/
#header-search-container{
	width: 80%;
	margin:0px 420px 0px 0px;
	padding: 8px 0px 0px;
	height: 27px;
}
#header-dashboard-container{
	width: 1100px;
	height: 27px;
}
#project_panel{

}
#logo1{
	float: left;
	margin: 8px 15px 0 10px;
	color: #09F;
	font-size: 20px;
	font-weight: bold;
}
#logo1 img{
	margin-top: -18px;
}
#logo1 img:hover{
	cursor: pointer;
}
#logo2{
	float: left;
	margin: 15px 0 0 10px;
	color: #09F;
	font-size: 20px;
	font-weight: bold;
}
#logo2 img{
	margin-top: -18px;
}

#search_panel{
	right: 0px;
	margin: 0 0px 0 20px;
}
#search-component_panel{
    float: right;

}

#search_form > #search-action-group{
	height:37px;
	font-family: 'tahoma';
	float: left;
	margin-right: 15px;
}

.search-action-group-focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

#search_form > #search-action-group > #search:focus{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}

#search_form > #search-action-group > #search{
	width:350px;
	height:27px;

	font-size: 18px;

	-moz-border-bottom-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;

	-moz-border-top-right-radius-: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}

#search_form > #search-action-group > #search-submit{
	margin: -10px 0px 0px -5px;
	width:20px;
	height:27px;

	font-size: 18px;

	-moz-border-bottom-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;

	-moz-border-top-left-radius-: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;

	background-image: url('../img/search_bt.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60%;
}

#search_form > #search-btn-group{
	float: left;
	font-family: 'Supermarket';
    font-size: larger;
    margin-right: 20px;
}

#search_form > #search-btn-group > #relevant-result-btn{
	background-image: url('../img/relevant_result_bt.png');

	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;

}

#search_form > #search-btn-group > #browser-result-btn{
    background-image: url('../img/search_bt.png');

    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 5px 0px 0px 5px;

}

#search_form > #search-btn-group > #keyword-btn{
	background-image: url('../img/keyword_bt.png');
	width: 80px;
}

#search_form > #search-btn-group > #snapboard-btn{
	background-image: url('../img/snapboard_bt.png');
	width: 80px;
}

#search_form > #search-btn-group > #activity-btn{
	background-image: url('../img/activity_bt.png');
	width: 80px;
}

#search_form > #search-btn-group > #seen-btn{
	background-image: url('../img/seen_bt.png');
}

.search-btn-group:first-child{
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
}

.search-btn-group:last-child{
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
}

.search-btn-group{
	border-radius: 0px ;
	-moz-border-radius: 0px ;
	-webkit-border-radius: 0px;

	background-repeat: no-repeat;
	background-position: center center!important;
	margin: 0px -2px 0px -4px;
	background-size: 30px 30px;

	width:70px;
	height:35px;

	padding: 0px;

	overflow: hidden;
	font-family: 'tahoma';
}

.open #user-btn, #user-btn:active, #user-btn.active,
.open #project-btn, #project-btn:active, #project-btn.active,
#relevant-result-btn.active, #relevant-result-btn:active,
#keyword-btn.active, #keyword-btn:active,
#seen-btn.active, #seen-btn:active
#snapboard-btn.active, #snapboard-btn:active{

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;

	box-shadow: inset 0px 0px 4px #999999;
}
.btn_expdf{
	background-color: rgba(255, 5, 10, 0.9);

}


.search-btn-group:hover .title{
	opacity:0;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.search-btn-group > .title{
	width: inherit;
	height: inherit;

	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 16%, rgba(255,255,255,0.8) 65%, rgba(255,255,255,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(16%,rgba(255,255,255,0)), color-stop(65%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 16%,rgba(255,255,255,0.8) 65%,rgba(255,255,255,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 16%,rgba(255,255,255,0.8) 65%,rgba(255,255,255,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 16%,rgba(255,255,255,0.8) 65%,rgba(255,255,255,0.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 16%,rgba(255,255,255,0.8) 65%,rgba(255,255,255,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ccffffff',GradientType=0 ); /* IE6-9 */

	opacity:1;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.search-btn-group > .title > .title-text{
	display: block;
	position: absolute;
	font-size: 12px;
	bottom: 6px;

	font-family: 'thaisans_neueregular';

	text-align: center;

	width: inherit;
}

#search-bar {
	position: absolute;
	margin: -2px 0 0 0;
	width: auto;
	min-width: 724px;
	background-color: rgba(255,255,255,0.9);
	padding: 0px;

	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	height: 45px;

	z-index: 52;
	top: 55px!important;
	left: 0px;
	right: 300px;
	bottom: 0px;
}

#search-component{
	width:300px;
	height: 35px;
	float: left;

	margin:10px 0px 0px 30px;
}

.search-result-tabopen-contain{
	min-height: 513px;
	min-width: 707px;
	left: 0;
	right: 0;
	bottom: 7.9px;
	top:0;

	position: absolute;
}
.search-result-tabopen{
	border: none;
	width: 100%;
	height: 100%;
	position: relative;
}

#search-result-tab{

	margin:0px 0px 0px 10px;

}

#search-result-tab > .btn-group > #search-result-tab-title{
	width:275px;

	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
}

#search-result-tab > .btn-group > .btn{
	height:35px;
}

#search-result-tab > .btn-group > .dropdown-menu{
	width: 300px;
}

.search-result-tabmenu-remove{
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;

	height:25px;

	padding-top: 0px;

	border-radius: 5px;

	float: right;
}

.search-result-tabmenu-remove:hover{
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;

	background-color: rgba(207,41,44,0.9);
	cursor: pointer;
}

.search-result-tabmenu-title{
	width: 100px;
	float: left;
	line-height: 30px;

	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
}

.search-result-tabmenu-link{
	line-height: 30px!important;
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
}


/*========================================================================================*/
/* Side bar */
/*========================================================================================*/
#sidebar-time{
	position: absolute;
	background-color: rgba(255,255,255,0.9);

	-moz-box-shadow: 0px 0px 5px #999999;
	-webkit-box-shadow: 0px 0px 5px #999999;
	box-shadow: 0px 0px 5px #999999;
	padding: 5px 10px 15px 20px;

	font-size: 12px;

	width: 270px;
	height: 30px;
	top:50px;
	right: 0px;
	bottom: 0px;

	display: block;

	z-index: 99;
}

#sidebar-showtime{
	font-weight: bold;
	font-size: 14px;
}

#sidebar {
	background-color: rgba(255,255,255,0.9);

	-moz-box-shadow: 0px 0px 5px #999999;
	-webkit-box-shadow: 0px 0px 5px #999999;
	box-shadow: 0px 0px 5px #999999;
	padding: 10px 0px;

	width: 300px;
	min-height: 500px;
	top:100px;
	bottom:0px;
	right: 0px;
	position: absolute;


	display: block;

	z-index: 98;
}

#sidebar-panel, #sidebar-panel-activity{
	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
	box-shadow: 0px 0px 2px #999999;
	padding: 0px;

	width:300px;
	top:0%;
	bottom:55%;

	position: absolute;
	display: block;

	z-index: 1;

	overflow-y: auto;
	overflow-x: hidden;

	border-bottom: 2px solid #999999;
}

#sidebar-panel-activity{
	bottom:0;
}

#sidebar-panel-activity , #sidebar-panel-useractivity{
	width:300px;

	position: absolute;
	display: block;

	z-index: 1;
}

.activity-item{
	width:94%;
	background-color: rgba(255,255,255,1);

	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
	box-shadow: 0px 0px 2px #999999;

	padding: 10px;
	display: block;

	font-family: 'tahoma';
}
.activity-info-message{
	font-size: 14px;
}
.activity-info{
	width:auto;
	height:20px;
	display: block;
	margin: auto;

	font-size: 10px;
}

#sidebar-chat {
	background-color: rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
	box-shadow: 0px 0px 2px #999999;
	padding: 10px 0px;

	width:300px;
	top:45%;
	bottom: 0%;

	position: absolute;
	display: block;

	z-index: 1;

	overflow: hidden;
}

/* Chat */
#chat-loader, #activity-loader{
	background-image: url('../img/chat_loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 133px 17px;

	height:20px;
	margin-bottom: 10px;
}

#chat-show {
	background-color: rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
	box-shadow: 0px 0px 2px #999999;
	padding: 10px 0px;

	width:300px;
	top:0;
	bottom: 34px;

	position: absolute;
	display: block;

	z-index: 1;

	overflow-y: scroll;

	font-family: 'tahoma';
}

#chat_form{
	position: absolute;
	display: block;

	bottom: 0px;
	padding: 0px;
	margin: 0px;
}

#chat-message{
	position: absolute;
	display: block;

	bottom:0px;
	height:30px;
	width: 285px;

	margin: 0px;
	padding: 2px 5px 2px 10px;

	border-left: 0px solid #888;
	border-right: 0px solid #888;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;

	box-shadow: none;

	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;

	font-family: 'tahoma';
}

#chat-message:focus{
	box-shadow: none;
}

.chat-message-dategroup{
	padding: 0px;
	margin-bottom: 10px;
}

.chat-message-dategroup-title{
	width: 250px;
	margin: 0 auto 5px auto;
	display: block;
	text-align: center;
}

.chat-messages{
	padding: 3px 10px 3px 10px;
	border-bottom: 1px solid #f2f4f6;
}

.chat-info{
	width:auto;
	height:20px;
	display: block;
	margin: auto;

	font-size: 10px;
}

.chat-info-username{
	float:left;
	font-weight: bold;
}

.chat-info-date{
	float:right;
	color:#888;
}

.chat-message{
	display: block;
}

/* Main style */
#main {
	background-color: rgba(240, 238, 238, 0.5);
	position: absolute;
	top: 50px;
	left: 0px;
	right: 300px;
	bottom: 0px;

	min-width: 704px;
	min-height: 500px;

	overflow-y: auto;
}

#search-empty{
	margin: 50px auto;
	display: none;
	background-image: url('../img/search-logo.png');
	background-color: rgba(255,255,255,0.8);
	background-position: top center;
	background-repeat: no-repeat;

	width:500px;
	text-align: center;
	padding: 256px 20px 20px 20px;

	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
	box-shadow: 0px 0px 2px #999999;
	font-size: 24px;
}

#search-notfound{
	margin: 50px auto;
	display: none;
	background-image: url('../img/notfound-logo.png');
	background-color: rgba(255,255,255,0.8);
	background-position: top center;
	background-repeat: no-repeat;

	width:500px;
	text-align: center;
	padding: 256px 20px 20px 20px;

	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
	box-shadow: 0px 0px 2px #999999;
	font-size: 24px;

	line-height: 30px;
}

.search-result, #how-to-relevant{
	margin: 20px 50px 20px 50px;
	background-color: rgba(255,255,255,0.8);
	min-width: 500px;
	padding: 10px;

	font-size: 18px;
	line-height: 24px;

	-webkit-box-shadow: 0px 0px 2px #999999;
	-moz-box-shadow: 0px 0px 2px #999999;
	box-shadow: 0px 0px 2px #999999;

	position: relative;
	z-index: 1;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor:pointer;
}
 #how-to-relevant{
	border-radius: 5px;
	padding: 0px;
	background: #f2f9fe; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f9fe 0%, #d6f0fd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f9fe), color-stop(100%,#d6f0fd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f9fe 0%,#d6f0fd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow: 0px 0px 3px rgba(153,153,153,0.8);
	-moz-box-shadow: 0px 0px 3px rgba(153,153,153,0.8);
	box-shadow: 0px 0px 3px rgba(153,153,153,0.8);

	cursor:default;
}

#how-to-relevant .label{
	font-size: 16px;
	padding: 0px 10px 0px 10px;
	margin: 3px;
	background-color: rgba(255,255,255,0.5);
	color: rgb(0,0,0);
	line-height: 30px;
}
#how-to-relevant .label i{
	margin-right: 5px;
}

.search-result-component{
	background-color: rgba(255,255,255,1);
	margin: -20px 100px 0px 100px;
	min-width: 490px;

	padding: 10px 5px 0px 5px;

	-webkit-box-shadow: 0px 0px 2px #999999;
	-moz-box-shadow: 0px 0px 2px #999999;
	box-shadow: 0px 0px 2px #999999;

	position: relative;
	z-index: 0;
}

.search-result-component .tabbable{
	margin-top: -10px;
}

.search-result-component .tab-content{
	max-height: 150px;
	min-height: 150px;
	height: auto;
}

.search-result-component .nav{
	margin-bottom: 5px;
}

.search-result-component .label, #search-component-relevant-noti .label{
	font-size: 14px;
	margin: 8px 10px 6px 0px;
	padding: 5px;
}
#search-component-relevant-noti .search-result-action{
	margin-top: 20px;
	margin-bottom: 20px;
}
#search-component-relevant-noti .search-result-action .btn{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}



.search-result-component-comment ul
, #search-component-keyword-noti ul
, #search-component-comment-noti ul
, #search-component-seen-noti ul
, #search-component-snapboard-noti ul{
	margin: 5px 20px 0px 10px;
	font-family: 'tahoma';
}
.search-result-component-comment ul li
, #search-component-keyword-noti ul li
, #search-component-comment-noti ul li
, #search-component-seen-noti ul li
, #search-component-snapboard-noti ul li
, .search-result-component-seen ul li{
	margin: 0px 0px 5px 0px;
	background-color: rgba(246,246,246,1);
	list-style: none;
	padding: 5px;
}


#search-component-snapboard-noti ul li{
    width: 180px;

}
.search-result-component-seen ul li{
	margin-left:-12px;
}
#search-component-keyword-noti ul li
, #search-component-seen-noti ul li{
	min-width: 200px;
}
.search-component-keyword-info, .search-component-seen-info{
	font-size: 10px;
	color:#888;
}

#search-component-comment-noti ul li{
	min-width: 300px;
}

#search-component-keyword-noti  .dropdown-menu .wrap
, #search-component-comment-noti  .dropdown-menu .wrap
, #search-component-seen-noti  .dropdown-menu .wrap
, #search-component-relevant-noti .dropdown-menu .wrap{
	max-height: 300px;
	overflow: auto;
	margin: 5px;
}

#search-component-relevant-noti  .dropdown-menu .wrap{
	width:300px;
	height:300px;
}

.comment-info{
	width:auto;
	height:20px;
	display: block;
	margin: auto;

	font-size: 10px;
}

.comment-info-username{
	float:left;
	font-weight: bold;
	color:#888;
}

.comment-info-date{
	float:right;
	color:#888;
}

.comment-message{
	display: block;
}

.search-result-component-comment textarea, #search-component-comment-form textarea{
	width: 97.8%;
	height: 25px;

	margin: 0px;
	padding: 2px 5px 2px 10px;

	border-left: 1px solid #888;
	border-right: 1px solid #888;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;

	box-shadow: none;

	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;

	font-family: 'tahoma';
}

#search-component-comment-form textarea{
	width:94%;
    height: 70px;
    margin-bottom: 5px;
}
#search-component-comment-form{
	margin-bottom: 0px;
}

.search-result-component-comment textarea:focus{
	box-shadow: none;
}

.search-result-component-revelant .wrap, .search-result-component-seen .wrap{
	margin: 5px 20px 30px 10px;
	padding: 5px;
}


.search-result-minicomponent{
	background-color: rgba(0, 0, 0, 0.5);
	height: 35px;
	margin: 10px -10px -10px -10px;
}

.search-result-minicomponent .label{
	font-size: 14px;
	margin: 8px 2px 6px 10px;
	background: none;
}

.search-result.seen{
	background-color: rgb(255, 207, 129);

	-webkit-box-shadow: 0px 0px 2px rgba(5,34,21,1);
	-moz-box-shadow: 0px 0px 2px rgba(5,34,21,1);
	box-shadow: 0px 0px 2px rgba(5,34,21,1);

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}
.search-result.relevant{


	-webkit-box-shadow: 0px 0px 2px rgba(36,48,0,1);
	-moz-box-shadow: 0px 0px 2px rgba(36,48,0,1);
	box-shadow: 0px 0px 2px rgba(36,48,0,1);

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.search-result.irrelevant{

	-webkit-box-shadow: 0px 0px 2px rgba(35,20,0,1);
	-moz-box-shadow: 0px 0px 2px rgba(35,20,0,1);
	box-shadow: 0px 0px 2px rgba(35,20,0,1);

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.search-result.mayberelevant{
	background-color: rgba(249, 255, 223, 1);

	-webkit-box-shadow: 0px 0px 2px rgba(34,34,0,1);
	-moz-box-shadow: 0px 0px 2px rgba(34,34,0,1);
	box-shadow: 0px 0px 2px rgba(34,34,0,1);

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.search-result.show-component, .search-result:hover{
	-webkit-box-shadow: 0px 0px 8px;
	-moz-box-shadow: 0px 0px 8px;
	box-shadow: 0px 0px 8px;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.search-result-link{
	float: left;
	display: block;
	font-size: 24px;
}
.search-result-link a{
	color: rgb(9, 40, 115);
}
.search-result-link a:hover{
	color: rgb(0, 25, 61);
	font-weight: bold;
}

.search-result-url{
	color:rgba(1 ,115, 82, 1);
	font-size: 14px;

	width:100%;
	display: block;
}

.search-result-description{
	font-size: 16px;
	display: block;
}

.search-result:hover .search-result-action{
	visibility: visible;
	opacity : 1;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.search-result-action{
	visibility: visible;
	opacity : 1;
	margin: -10px 0px 0px;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.search-result-action .btn{
	font-size: 18px!important;
}
.search-result-action .btn:first-child{
	border-radius: 0px 0px 0px 5px;
	-moz-border-radius: 0px 0px 0px 5px;
	-webkit-border-radius: 0px 0px 0px 5px;

	border-top: none;
}
.search-result-action .btn:last-child{
	border-radius: 0px 0px 5px 0px;
	-moz-border-radius: 0px 0px 5px 0px;
	-webkit-border-radius: 0px 0px 5px 0px;

	border-top: none;
}

.search-result-relevant.push{
	color:rgba(5,43,14,1);

	background: #d2ff52; /* Old browsers */
	background: -moz-linear-gradient(top,  #d2ff52 0%, #91e842 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d2ff52 0%,#91e842 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
}

.search-result-relevant.push:hover{
	background: rgba(210,255,82,1);
}

.search-result-irrelevant.push{
	color: rgba(45,11,1,1);

	background: #febbbb; /* Old browsers */
	background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febbbb), color-stop(45%,#fe9090), color-stop(100%,#ff5c5c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */

}

.search-result-irrelevant.push:hover{
	background: rgba(254,204,204,1);
}

.search-result-relevant, .search-result-irrelevant{
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfff4 0%, #e9e9ce 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfff4 0%,#e9e9ce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
}

.search-result-relevant:hover, .search-result-irrelevant:hover{
	background: rgba(252,255,244,1);
}

#search-keyword{
	color: rgba(123, 321, 123, 1);
}


/* Relevant */
#relevant-empty{
	margin: 50px auto;
	display: block;
	background-image: url('../img/relevant-logo.png');
	background-color: rgba(255,255,255,0.8);
	background-position: top center;
	background-repeat: no-repeat;

	width:500px;

	padding: 256px 20px 20px 20px;

	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
	box-shadow: 0px 0px 2px #999999;

	text-align: center;
	font-size: 24px;
}

/* Seen */
#seen-empty{
	margin: 50px auto;
	display: block;
	background-image: url('../img/seen-logo.png');
	background-color: rgba(255,255,255,0.8);
	background-position: top center;
	background-repeat: no-repeat;

	width:500px;

	padding: 256px 20px 20px 20px;

	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
	box-shadow: 0px 0px 2px #999999;

	text-align: center;
	font-size: 24px;
}
/* Snapboard */
#snapboard-empty{
	margin: 50px auto;
	display: block;
	background-image: url('../img/snapboard-logo.png');
	background-color: rgba(255,255,255,0.8);
	background-position: top center;
	background-repeat: no-repeat;

	width:500px;

	padding: 256px 20px 20px 20px;

	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
	box-shadow: 0px 0px 2px #999999;

	text-align: center;
	font-size: 24px;
}

/* Keyword */
#keyword-empty{
	margin: 50px auto;
	display: block;
	background-image: url('../img/keyword-logo.png');
	background-color: rgba(255,255,255,0.8);
	background-position: top center;
	background-repeat: no-repeat;

	width:500px;

	padding: 256px 20px 20px 20px;

	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
	box-shadow: 0px 0px 2px #999999;

	text-align: center;
	font-size: 24px;
}

/* Activity */
#activity-empty{
	margin: 20px auto;
	display: block;
	background-image: url('../img/activity-logo.png');
	background-color: rgba(255,255,255,0.8);
	background-position: top center;
	background-size: 80%;
	background-repeat: no-repeat;

	width:180px;

	padding: 140px 10px 10px 10px;

	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
	box-shadow: 0px 0px 2px #999999;

	text-align: center;
	font-size: 18px;
}

/* Chat */
#chat-empty{
	margin: 20px auto;
	display: block;
	background-image: url('../img/chat-logo.png');
	background-color: rgba(255,255,255,0.8);
	background-position: top center;
	background-size: 80%;
	background-repeat: no-repeat;

	width:180px;

	padding: 150px 10px 10px 10px;

	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
	box-shadow: 0px 0px 2px #999999;

	text-align: center;
	font-size: 18px;

	font-family: Supermarket;
}

#relevant-result h1{
	margin: 50px 50px 20px 50px;
	border-bottom: 2px solid #999;
}


#search-result-tabmenu{

	margin-top:-3px;
}

.main_container {
	position: relative;
}

.snapboard-bar {
	/*position: ;*/
	width: 100%;
	background-color: rgba(255,255,255,0.9);
	text-align: left;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	height: auto;
	margin-bottom: 5px;
}

.grid{
	/*width:188px;*/
	/*min-height:200px;*/
	background:#fff;
	/*margin:8px;*/
	/*padding: 10px;*/
	font-size:16px;
	/*float:none;*/
	border:solid 1px #ffffff;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-webkit-transition: top 1s ease, left 1s ease;
	-moz-transition: top 1s ease, left 1s ease;
	-o-transition: top 1s ease, left 1s ease;
	-ms-transition: top 1s ease, left 1s ease;
	transition: all 220ms;
}
.clear{
	clear:both;
}

.grid:hover {
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 1px 200px rgba(34, 25, 25, 0.65);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.59);
	transform: translateY(-5px);
	transition: all 220ms;
	position: relative;
}

.grid .actions {
	left: -8px;
	position: absolute;
	top: -8px;
	z-index: 3;
}

.gridsort_bg{
	background-color:#aaaaaa;
	height:auto;
}

.gridtext{
	min-height:100px;
	background:#fff;
	margin-right: 8px;
	margin-left: 8px;
	font-size:12px;
	float:left;
}

.grid strong {
	margin: 10px 0 0 0;
	display:block;
	font-size:16px;
}
.grid .meta{
	text-align:right;
	color:#777;
	font-style:italic;
}

.grid .metauser{
	color:#777;
	font-style:italic;
	font-size:10px;
}
.grid .metahostname{
	color:#777;
	font-style:italic;

}
.grid .imgholder img{
	max-width:100%;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	display:block;
	cursor: zoom-in;

}

/*#box_con {*/
	/*margin: 20px auto;*/
/*}*/

.nobreak {
	white-space: nowrap;
}
.img-circle {
	border-radius: 50%;
}
#search{

    width:350px!important;
}

#snapshot-image {
    display: inline-block;
}


.nav-tabs > .active > a,

.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    color: #ffffff;
    background-color: #0099FF;
    cursor: pointer;
}

.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: 0.3;
}



.nav-tabs > li > a {
    border: solid 1px;
}

.nav-tabs > li {
    margin-left: -3px;
}

#no-open-tab {
    border-color: #ffffff;
}

#completed-project-cancel-btn{
	margin-left: 20px;
}

#overflow_snapshot{
    max-height: 400px;
    overflow: auto;
    margin: 5px;
}


#overflow_snapshot {
    max-height: 400px;
    overflow: auto;
    margin: 5px;
}

#overflow_snapshot .snapshot_box_web{
    padding: 3px;
    margin: 8px;
    border: 5px solid #CFA5A5;
    border-radius: 5px;
    display: inline-block;
    width: 150px;
}

.wall-item {
	display: block;

	margin:8px;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	transition: all 220ms;
}

.wall-item:hover {
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
	transform: translateY(-5px);
	transition: all 220ms;
}

.wall-item > img {
	display: block;
	width: 100%;
	margin: 0 0 24px 0;
}

.wall-item h2 {
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	margin: 0 0 12px 0;
}

.wall {
	display: block;
	position: relative;
}

.wall-column {
	display: block;
	position: relative;
	width: 33.333333%;
	float: left;
	padding: 0 12px;
	box-sizing: border-box;
}
@media (max-width: 640px) {

	.wall-column { width: 50%; }
}
@media (max-width: 480px) {

	.wall-column {
		width: auto;
		float: none;
	}
}
/*/////////////////////////////////////////////////*/

.button {
	background-color: #F0EDED;
	background-image: -webkit-linear-gradient(center top , #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
	background-image: -moz-linear-gradient(center top , #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
	background-image: linear-gradient(center top , #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
	border: 1px solid #BBBBBB;
	border-radius: 6px 6px 6px 6px;
	color: #524D4D;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-weight: bold;
	line-height: 1em;
	margin: 0;
	padding: 5px 9px;
	text-align: center;
	text-shadow: 0 1px rgba(255, 255, 255, 0.9);
	font-size: 10px;

	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}
.button:hover {
	box-shadow: 0 1px rgba(255, 255, 255, 0.35) inset, 0 0 0 1px rgba(140, 126, 126, 0.5), 0 1px 2px rgba(35, 24, 24, 0.75);
}
.button.disabled, .button[disabled] {
	background: none repeat scroll 0 0 #F2F0F0;
	border-color: #D1CDCD;
	color: #D1CDCD;
	cursor: default;
	text-shadow: 0 -1px rgba(34, 25, 25, 0.01);
}

/* single pin styles */
.comment {
	background-color: #F2F0F0;
	border-top: 1px solid #D9D4D4;
	box-shadow: 0 1px #FCFAFA inset;
	margin: 0 -15px;
	overflow: hidden;
	padding: 10px 15px;
}
.comment textarea {
	background-color: #FCF9F9;
	border: 1px solid #CCCCCC;
	color: #8C7E7E;
	font-size: 11px;
	height: 21px;
	line-height: 1em;
	margin-bottom: 6px;
	padding: 4px 3px 3px;
	resize: none;
	width: 185px;
}
.comment textarea:focus {
	background-color: #FFFFFF;
	box-shadow: 0 1px 1px rgba(34, 29, 29, 0.1) inset;
}
/*/////////////////////////////////////////////////*/


.cd-container {
	/* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 95%;
	max-width: 1500px;
	margin: 0 auto;
}
.cd-container::after {
	/* clearfix */
	content: '';
	display: table;
	clear: both;
}

#cd-timeline {
	position: relative;
	padding: 2em 0;
	margin-top: 2em;
	margin-bottom: 2em;
}
#cd-timeline::before {
	/* this is the vertical line */
	content: '';
	position: absolute;
	top: 2em;
	left: 24px;
	height: 100%;
	width: 4px;
	background: rgba(194, 194, 194, 0.57);
}
.cd-timeline-block {
	position: relative;
	margin: 2em 0;
}
.cd-timeline-block:after {
	content: "";
	display: table;
	clear: both;
}
.cd-timeline-block:first-child {
	margin-top: 0;
}
.cd-timeline-block:last-child {
	margin-bottom: 0;
}

.cd-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
	display: block;
	width: 36px;
	height: 36px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -18px;
	margin-top: -18px;
}
.cd-timeline-img.cd-enter_left {
	background: rgba(0, 34, 52, 0.77);
}
.cd-timeline-img.cd-open {
	background: #f0810a;
}
.cd-timeline-img.cd-comment {
	background: #226df0;
}
.cd-timeline-img.cd-query {
	background: #f0e80d;
}
.cd-timeline-img.cd-relevant {
	 background: #60f0b9;
}
.cd-timeline-img.cd-irrelevant {
	background: #ffa6fc;
}
.cd-timeline-img.cd-snapshot {
	background: #21c5f0;
}

.cd-timeline-content {
	position: relative;
	margin-left: 80px;
	width: auto;
	background: white;
	border-radius: 0.25em;
	padding: 1em;
	box-shadow: 0 3px 0 #d7e4ed;
	/*display:inline-block;*/
}
.cd-timeline-content:after {
	content: "";
	display: table;
	clear: both;
}
.cd-timeline-content h2 {
	color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
	font-size: 13px;
	font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
	display: inline-block;
}
.cd-timeline-content p {
	margin: 1em 0;
	line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
	float: right;
	padding: .8em 1em;
	background: #acb7c0;
	color: white;
	border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
	background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
	float: left;
	padding: .8em 0;
	opacity: .7;
}
.cd-timeline-content::before {
	content: '';
	position: absolute;
	top: 16px;
	right: 100%;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-right: 7px solid #ffffff;
}

@-webkit-keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
	}

	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-moz-transform: translateX(100px);
	}

	60% {
		opacity: 1;
		-moz-transform: translateX(-20px);
	}

	100% {
		-moz-transform: translateX(0);
	}
}
@keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		-moz-transform: translateX(100px);
		-ms-transform: translateX(100px);
		-o-transform: translateX(100px);
		transform: translateX(100px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		-o-transform: translateX(-20px);
		transform: translateX(-20px);
	}

	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
