extends ../layout

append head
    link(rel='stylesheet', href='/static/css/custom.login.css')

append body
    #wrapper
        #loginbox
            #logo
                img(src="/static/img/CoZpace-Logo.png")
            hr
            form(action='', method='post', accept-charset='utf-8')
                #login_form
                    .alert.alert-error.hide
                        | #{errors}
                    .control-group
                        .controls
                            input#username(type='text', name='username', value='', placeholder='Email')
                            br
                            //span.help-inline
                            //    if errors.username
                            //        | #{errors.username.msg}
                    .control-group
                        .controls
                            input#password(type='password', name='password', value='', placeholder='Password')
                            br
                            //span.help-inline
                            //    if errors.password
                            //        | #{errors.password.msg}
                    .form-submit
                        button#site-login-btn.btn.btn-primary(type='submit') Log in
                        | |
                        a#ms-login-btn(href="/auth/live")
                            img(src="/static/img/ms-icon.png")
                #form_des
                    | If you not have an account. You can 
                    a(href='/register') register
                    |  now!

    script(src="/static/js/custom.login.js")