extends ../layout

append head
    link(rel='stylesheet', href='/static/css/custom.login.css')

append body
    #wrapper
        #regisbox
            #logo Register
            hr
            form(action='', method='post', accept-charset='utf-8')
                #regis_form
                    .alert.alert-error.hide
                        | #{errors.not_login}
                    .control-group
                        .controls
                            input#username(type='text', name='username', value='#{errors.username.value}', placeholder='Email')
                            br
                            span.help-inline
                                if errors.username
                                    | #{errors.username.msg}
                    .control-group
                        .controls
                            input#password(type='password', name='password', value='#{errors.password.value}', placeholder='Password')
                            br
                            span.help-inline
                                if errors.password
                                    | #{errors.password.msg}
                    .control-group
                        .controls
                            input#firstname(type='text', name='firstname', value='#{errors.firstname.value}', placeholder='First name')
                            br
                            span.help-inline
                                if errors.firstname
                                    | #{errors.firstname.msg}
                    .control-group
                        .controls
                            input#lastname(type='text', name='lastname', value='#{errors.lastname.value}', placeholder='Last name')
                            br
                            span.help-inline
                                if errors.lastname
                                    | #{errors.lastname.msg}
                    .form-submit
                        button.btn.btn-primary(type='submit') Register 
                #form_des
                    | If you have an account. You can 
                    a(href='/login') login
                    |  now!

    script(src="/static/js/custom.login.js")