extends ../layout

append head
    link(rel='stylesheet', href='/static/css/custom.login.css')

append body
    #wrapper
        #regisbox
            #logo Complete Register
            hr
            form(action='', method='post', accept-charset='utf-8')
                #regis_welcome
                    | Welcome to 
                    strong CoZpace
                    |.
                    br
                    | Your account is ready for use.
                    br
                    | You can login now :).
                    br
                    | Thank you.
                    p
                    a.btn.btn-primary(href='/login') Login 

    script(src="/static/js/custom.login.js")
