if !messages.path
    - var path = 'null';
else
    - var path = messages.path;
if !messages.project_key
    - var project_key = 'null';
else
    - var project_key = "'"+messages.project_key+"'";
doctype html
html
    head
        title
            if messages.title
                | CoZpace : #{messages.title}
            else
                | CoZpace Collaborative Search Platform
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="CoZpace, Collaborative Search, Search engine, Collaborative")
        meta(name="description", content="Collaborative Search platform, you will never search alone")
        meta(name="author", content="CoZpace.com")
        meta(name="X-UA-Compatible", content="IE=EmulateIE7")
        meta(property="og:image", content="http://www.cozpace.com/")
        block head
            link(rel='stylesheet', href='/static/css/core.min.css')
            //if lt IE 9
            script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    body
        block body
            script(src="/static/js/core.min.js")
            script(type="text/javascript")
                | $(document).ready(function() {
                |    $.PATH = #{path};
                |    $.PKEY = #{project_key};
                | });
